---
layout: page
title: Projects
description: "Explore my portfolio of projects in GIS analysis, ecological research, conservation planning, and environmental mapping."
permalink: /projects/
subtitle: My Work
heading: Projects Portfolio
---

<div class="row">
    {% for project in site.projects %}
    <div class="col-lg-6 col-md-6 col-xs-12 card-spacing">
        <div class="project-card">
            {% if project.images.first %}
            <a href="{{ project.url }}">
                <img src="{{ site.baseurl }}{{ project.images.first.src }}" alt="{{ project.title }}" class="card-thumbnail" loading="lazy">
            </a>
            {% endif %}
            <div class="card-body-content">
                <span class="card-category">{{ project.categories | first }}</span>
                <h4 class="card-title">
                    <a href="{{ project.url }}">{{ project.title }}</a>
                </h4>
                <p class="card-description">{{ project.description | truncate: 120 }}</p>
                {% if project.technologies %}
                <div class="tech-pills">
                    {% for tech in project.technologies limit: 3 %}
                    <span class="tech-pill">{{ tech }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <a href="{{ project.url }}" class="card-link">View Project <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if site.projects.size == 0 %}
<div class="col-lg-12 text-center">
    <p class="empty-state">Projects coming soon. Check back later!</p>
</div>
{% endif %}
