<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="left-text-content">
                    <p>Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.author }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="right-text-content">
                    <ul id="social-section" class="social-icons">
                        <li><p>My Socials</p></li>
                        {% for social in site.data.social %}
                        <li><a rel="nofollow noopener noreferrer" href="{{ social.url }}" target="_blank" aria-label="{{ social.name }}"><i class="fa {{ social.icon }}" aria-hidden="true"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer End ***** -->
