<!-- jQuery 3.x -->
<script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
<!-- jQuery Migrate for backward compatibility with older plugins -->
<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>

<!-- Bootstrap -->
<script src="{{ site.baseurl }}/assets/js/popper.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="{{ site.baseurl }}/assets/js/owl-carousel.js"></script>
<script src="{{ site.baseurl }}/assets/js/scrollreveal.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.counterup.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/imgfix.min.js"></script> 
<script src="{{ site.baseurl }}/assets/js/slick.js"></script> 
<script src="{{ site.baseurl }}/assets/js/lightbox.js"></script> 
<script src="{{ site.baseurl }}/assets/js/isotope.js"></script> 

<!-- Global Init -->
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>

{% if page.extra_js %}
<script src="{{ site.baseurl }}/assets/js/{{ page.extra_js }}"></script>
{% endif %}

{% if layout.extra_js %}
<script src="{{ site.baseurl }}/assets/js/{{ layout.extra_js }}"></script>
{% endif %}
