<!-- jQuery 3.x -->
<script defer src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
<!-- jQuery Migrate for backward compatibility with older plugins -->
<script defer src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" integrity="sha256-UnTxHm+zKuDPLfufgEMnKGXDl6fEIjtM+n1Q6lL73ok=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script defer src="{{ site.baseurl }}/assets/js/popper.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script defer src="{{ site.baseurl }}/assets/js/owl-carousel.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/scrollreveal.min.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/slick.js"></script>

<!-- Global Init -->
<script defer src="{{ site.baseurl }}/assets/js/custom.js"></script>

{% if page.extra_js %}
<script defer src="{{ site.baseurl }}/assets/js/{{ page.extra_js }}"></script>
{% endif %}

{% if layout.extra_js %}
<script defer src="{{ site.baseurl }}/assets/js/{{ layout.extra_js }}"></script>
{% endif %}
